<div id="photomag">
    <a href="{{ page.data.relpath }}{{ site.data.common.photoname }}_big.jpg">
      <img src="{{ page.data.relpath }}{{ site.data.common.photoname }}.jpg"  width=180 height=240 title="DONNTU Master {{ site.data.header_en.sername }} {{ site.data.header_en.name }}" alt="DonNTU Master {{ site.data.header_en.sername }} {{ site.data.header_en.name }}" border=0>
    </a>
</div>
<div id="headertext">
	<h1 class="hdr">{{ site.data.header_en.name }} {{ site.data.header_en.sername }}</h1>
	<h3 class="hdr">{{ site.data.header_en.faculty }}</h3>
	<h3 class="hdr">{{ site.data.header_en.department }}</h3>
	<h3 class="hdr">Speciality <q>{{ site.data.header_en.speciality }}</q></h3>
	<h2 class="hdr">{{ site.data.header_en.diss_name }}</h2>
	<h3 class="hdr">Scientific adviser: {{ site.data.header_en.adviser_title }} {{ site.data.header_en.adviser_name }}</h3>
</div>
