<div id="photomag">
    <a href="{{ page.data.relpath }}{{ site.data.common.photoname }}_big.jpg">
      <img src="{{ page.data.relpath }}{{ site.data.common.photoname }}.jpg"  width=180 height=240 title="Магистр ДОННТУ {{ site.data.header_ru.sername }} {{ site.data.header_ru.name }} {{ site.data.header_ru.thirdname }}" alt="Магистр ДОННТУ {{ site.data.header_ru.sername }} {{ site.data.header_ru.name }} {{ site.data.header_ru.thirdname }}" border=0>
    </a>
</div>
<div id="headertext">
	<h1 class="hdr">{{ site.data.header_ru.sername }} {{ site.data.header_ru.name }} {{ site.data.header_ru.thirdname }}</h1>
	<h3 class="hdr">{{ site.data.header_ru.faculty }}</h3>
	<h3 class="hdr">{{ site.data.header_ru.department }}</h3>
	<h3 class="hdr">Специальность &laquo;{{ site.data.header_ru.speciality }}&raquo;</h3>
	<h2 class="hdr">{{ site.data.header_ru.diss_name }}</h2>
	<h3 class="hdr">Научный руководитель: {{ site.data.header_ru.adviser_title }} {{ site.data.header_ru.adviser_name }}</h3>
</div>
