<meta charset="utf-8">
<title>{{ page.title }} - {{ site.data.person.ru.sername }} {{ site.data.person.ru.name }} {{ site.data.person.ru.thirdname }} - {{ site.data.person.ru.diss_name }}</title>
<link rel="stylesheet" type="text/css" href="{{ page.data.relpath }}css/master_style.css">
{% if page.data.noindex %}
  <meta name="robots" content="noindex,nofollow">
{% endif %}
