<meta charset="utf-8">
<title>{{ page.title }} - {{ site.data.person.en.name }} {{ site.data.person.en.sername }} - {{ site.data.person.en.diss_name }}</title>
<link rel="stylesheet" type="text/css" href="{{ page.data.relpath }}css/master_style.css">{% if page.data.noindex %}
<meta name="robots" content="noindex,nofollow">{% endif %}