<div id="photomag">
    <a href="{{ page.data.relpath }}{{ site.data.person.photoname }}_big.jpg">
      <img src="{{ page.data.relpath }}photo.jpg"  width=180 height=240 title="Магистр ДОННТУ {{ site.data.person.ru.sername }} {{ site.data.person.ru.name }} {{ site.data.person.ru.thirdname }}" alt="Магистр ДОННТУ {{ site.data.person.ru.sername }} {{ site.data.person.ru.name }} {{ site.data.person.ru.thirdname }}" border=0>
    </a>
</div>
<div id="headertext">
	<h1 class="hdr">{{ site.data.person.ru.sername }} {{ site.data.person.ru.name }} {{ site.data.person.ru.thirdname }}</h1>
	<h3 class="hdr">{{ site.data.person.ru.faculty }}</h3>
	{% if site.data.person.ru.department %}
	<h3 class="hdr">{{ site.data.person.ru.department }}</h3>
	{%endif%}
	{% if site.data.person.ru.field %}
	<h3 class="hdr">Field of study <q>{{ site.data.person.ru.field }}</q></h3>
	{%endif%}
	<h3 class="hdr">Специальность <q>{{ site.data.person.ru.speciality }}</q></h3>
	<h2 class="hdr">{{ site.data.person.ru.diss_name }}</h2>
	<h3 class="hdr">Научный руководитель: {{ site.data.person.ru.adviser_title }} {{ site.data.person.ru.adviser }}</h3>
</div>
