<nav id="navbar">
  <ul class="ru">
    <li><a {% if page.title == "Резюме" %} class="active" {% else %} href="{{ page.data.relpath }}index.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/resume.png" align="middle" />Резюме</a></li>
    <li><a {% if page.title == "Биография" %} class="active" {% else %} href="{{ page.data.relpath }}bio/index.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/biography.png" align="middle" />Биография</a></li>
    <li><a {% if page.title == "Реферат" %} class="active" {% else %} href="{{ page.data.relpath }}diss/index.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/report.png" align="middle" />Реферат</a></li>
    <li><a {% if page.title == "Библиотека" %} class="active" {% else %} href="{{ page.data.relpath }}library/index.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/library.png" align="middle" />Библиотека</a></li>
    <li><a {% if page.title == "Ссылки" %} class="active" {% else %} href="{{ page.data.relpath }}links/index.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/links.png" align="middle" />Ссылки</a></li>
    <li><a {% if page.title == "Отчет о поиске" %} class="active" {% else %} href="{{ page.data.relpath }}links/zvit.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/search.png" align="middle" />Отчет о поиске</a></li>
    <li><a {% if page.title == "Индивидуальный раздел" %} class="active" {% else %} href="{{ page.data.relpath }}ind/index.htm" {% endif %}><img src="{{ page.data.relpath }}images/icons/painting.png" align="middle" />Индивидуальный раздел</a></li>
  </ul>
</nav>
